*{
  box-sizing: border-box;
}
body{
  font-family: 'El Messiri', sans-serif;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
  width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
  width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
  width: 1170px;
  }
}
/* End Global */
header{
    background-color: #2a2a2a;
    box-shadow: 0 2px 10px #2a2a2a;
    height: 72px;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .container .logo{
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
header .container .links{
  list-style: none;
  display: flex;
}
header .container .links li a{
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.landing{
  position: relative;
  background-image: url(../img/landing.jpg);
  min-height: calc(100vh - 72px);
  background-size: cover;
  background-position: center center;
}
@media(max-width:767px){
  .landing{
    min-height: 350px;
  }
}
.landing::before{
  content: "";
  left: 0;
  top: 0;
  background: #000000ba;
  position: absolute;
  width: 100%;
  height: 100%;
}
.about .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about .container .content .box {
  flex-basis: 100%;
}
.about .container .content .box img{
  width: 300px;
  border-radius: 11px;
  transition: 0.5s;
}
.about .container .content .box img:hover{
  transform: scale(1.1);
}
.about .container .content .box h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.about .container .content .box p{
  max-width: 500px;
  font-size: 17px;
  color: #444;
  line-height: 2;
  font-weight: 900;
}
@media(max-width:767px){
  .about .container .content .box p{
    width: fit-content;
  }
}
.main-title{
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
}
.about{
  padding-top:60px ;
}
.about .container .box i {
  color: red;
}
.about .container .box .text{
  font-size: 29px !important;
}
.content-srv{
  border-top: 1px solid #ccc;
  text-align: center;
  width: fit-content;
}
.content-srv .container h4{
  line-height: 2;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.content-srv .container p{
  line-height: 2;
  color: #333;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.footer{
  padding: 10px;
  background: #2a2a2a;
  color: white;
  text-align: center;
}
.main-title::before{
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}
.main-title::after{
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  right:-30px;
  transform: translateY(-50%);
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
